html *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    overflow-y: auto;
    overflow-x: hidden;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: #1e1e1e;
}
.info-container{
    margin: 30px auto;
    width: 94.6%;
    text-align: center;

}

.info-section{
    width: 100%;
}

.info-section__articles{
    width: 100%;
    height: 755px;
    max-width: 550px;
    margin: 0 auto;
    border-radius: 15px;
    background-color: #f3f3f3;
}

.info-section__articles:not(:first-child){
    margin-top: 30px;
}

.info-section__articles-img{
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 38.4%;
    border-radius: 15px;

}
.info-section__articles-img.img1{
    background-image: url("../images/Bg-2.png");
}
.info-section__articles-img.img2{
    background-image: url("../images/Bg-1.png");
}
.info-section__articles-img.img3{
    background-image: url("../images/Bg-0.png");

}

.info-section__articles-img > h2{
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: #fff;
    margin: 133px auto 0;
}
.info-section__articles-info{
    height: 61.5%;
}
.info-section__articles-info > p{
    font-size: 25px;
    max-height: 330px;
    overflow-y: auto;
    margin: 30px 15px 30px 14px;
    line-height: 30px;
    font-weight: 400;
    text-align: left;
}

.info-section__articles-info > span{
    display: block;
    font-size: 20px;
    height: 26px;
    font-weight: 400;
    line-height: 24px;
    margin: 0 auto 50px;
    text-align: center;
}



@media (min-width:811px) {
    .info-container{
        margin: 110px auto;
        width: 95%;
        min-width: 600px;
    }
    .info-section__articles{
        width: 30%;
        height: 650px;
        min-width: 320px;
        max-width: 430px;
        display: inline-block;
    }

    .info-section__articles-img > h2{
        font-size: 44px;
        line-height: 53.25px;
        margin-top: 100px;
    }
    .info-section__articles:not(:first-child){
        margin-left: 50px;
        margin-top: 0;
    }
    .info-section__articles:last-child{
        margin-top: 30px;
    }


    .info-section__articles-info p{
        max-height: 280px;
    }

    .info-section__articles-info > span{
        font-size: 25px;
        line-height: 30px;
    }
}